@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

.header {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
font-family: "Roboto", Arial, sans-serif;
width: 100%;
border-bottom: 1px solid #2C363F;
padding-bottom: 1em;
padding-top: 1rem;
 
}

.logo {
    font-weight: 800;
    font-size: 1.5em;
   }

.button-contact {
    font-weight: 500;
    font-size: 1.2em;
    width: 133pxpx;
    height: 42pxpx;
    padding: 12px 30px 12px 30px;
    gap: 13.6px;
    border: 2px solid #2C363F;
    background: #F2F5EA;
    
  
}

