.main {
    position: relative;

   }
   
   .main-rectangle {
     margin-top: 150px;
       display: inline-block;
       width: 200px;
       height: 10px;
       background: #2C363F;
       margin-bottom: 2rem;
       
       }
           
   .h1-container {
   max-width: 1000px; 
   position: relative;
   z-index: 2;
   margin-bottom: 3rem;
   }
          
   .main-h1 {
       font-family: Roboto, Arial, sans-serif;
       font-size: 5em;
       font-weight: 500;
       letter-spacing: 0.01em;
       text-align: left;
       text-transform: uppercase;
     
   }
          
        
   .main-p {
       width: 620px;
       height: 108px;
       font-family: Roboto, Arial, sans-serif;
       font-size: 1.5em;
       font-weight: 200;
       line-height: 1.6em;
       text-align: left;
       position: relative;
       z-index: 2;
       margin-bottom: 3rem;
   }
          
   .button-form {
       width: 229pxpx;
       height: 72pxpx;
       padding: 18px 40px 18px 40px;
       gap: 10px;
       font-family: Roboto, Arial, sans-serif; 
       background: #000;
       color: #fff;
     
       
   }
   
   .main-photo {
     position: absolute; 
       width: 600px;
       height: 650px;
      right: 0px;
       top:30px; 
       z-index: 1; 
   } 
       
